#modalDN {
    max-width: 1000px;
    max-height: 2000px;
}
/* #dangnhap{
    flex-direction: column;
} */
.container{
    display: flex;
    flex-direction: column;
}
.container input ,select{
    display: inline-block;
    border: 1px solid black;
    width: 400px;
}

.container .namsinh {
    color: black;
    background-color: gray;
}
option {
    color: black;
}